{{#if addNewAnswer}}
  <form>
    <div class="row">
      <label for="content">Answer</label>
      {{textarea class="u-full-width" rows="2" value=content id="content"}}
    </div>

    <label for="username">Name</label>
    {{input class="pure-input-1-3" value=username id="username"}}
    <br>
    <br>
    <button {{action 'saveAnswer'}}>Submit Answer</button>

  </form>

    <button {{action 'closeAnswerForm'}}>Cancel</button>

{{else}}
    <button  {{action 'showAnswerForm'}}>Add Answer</button>
{{/if}}
