{{#if addNewQuestion}}
  <form>
    <div class="row">
      <label for="title">Question</label>
      {{input class="u-full-width" value=title id="title"}}
    </div>

    <div class="row">
        <label for="author">Author</label>
        {{input class="u-full-width" value=author id="author"}}
    </div>

      <div class="row">
        <label for="note">Note</label>
        {{textarea class="u-full-width" rows="2" value=note id="note"}}
      </div>


      <button {{action 'saveQuestion'}}>Ask Question</button>
  </form>

       <button {{action 'closeQuestionForm'}}>Cancel</button>
{{else}}
        <button class="button center-button" {{action 'showQuestionForm'}}>New Question</button>

{{/if}}
