{{#if updateAnswerForm}}

    <form>
        <div class="row">
          <label for="content">Update Answer</label>
          {{textarea class= "u-full-width" rows="2" value=content id="content"}}
        </div>


          <label for="username">Name</label>
          {{input value=username id="username"}}


        <div class="form-group">
        <button {{action 'updateAnswer' answer}}>Submit</button>
        </div>

      </form>
       <button {{action 'closeUpdateAnswerForm'}}>Nah, Forget Aswering</button>

{{else}}
        <button {{action 'showUpdateAnswerForm'}}>Update Answer</button>
{{/if}}
