{{#if updateQuestionInfo}}
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="note">Note</label>
          {{textarea class="form-control" rows="2" value=note id="note"}}
        </div>
        <div class="form-group">
        <button {{action 'update' question}}>Update</button>
        </div>

      </form>
       <button {{action 'closeUpdateQuestionForm'}}>Nah, Forget Updating</button>
    </div>
{{else}}
        <button {{action 'showUpdateQuestionForm'}}>Update Question</button>
{{/if}}
