{{#if updateQuestionInfo}}

      <form>

        <label for="title">Title</label>
          {{input value=title id="title"}}



          <label for="author">Author</label>
          {{input value=author id="author"}}



          <label for="note">Note</label>
          {{textarea rows="2" value=note id="note"}}



        <button {{action 'update' question}}>Update</button>

      </form>
       <button {{action 'closeUpdateQuestionForm'}}>Nah, Forget Updating</button>

{{else}}
        <button {{action 'showUpdateQuestionForm'}}>Update Question</button>
{{/if}}
