<h2>{{model.title}}</h2>
<p>{{model.note}}</p>

{{update-question question=model update="update"}}

<h3>Answers</h3>
<ul>
  {{#each model.answers as |answer|}}
<li>{{answer.content}} by {{answer.username}}</li>
  {{update-answer answer=answer updateAnswer="updateAnswer"}}
  <button class="pure-button" {{action 'destroyAnswer' answer}}>Delete</button>
  {{/each}}
</ul>

{{add-answer question=model saveAnswer="saveAnswer"}}
