<!-- <h2>{{model.title}}</h2> -->
<p>{{model.note}}</p>

{{update-question question=model update="update"}}

<h3>Answers</h3>
<ol>
  {{#each model.answers as |answer|}}
<li>{{answer.content}} by {{answer.username}} <br> Submitted {{format-date answer.date_added}}</li>
  {{update-answer answer=answer updateAnswer="updateAnswer"}}
  <button {{action 'destroyAnswer' answer}}>Delete</button>
  {{/each}}
</ol>

{{add-answer question=model saveAnswer="saveAnswer"}}
